doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/static/stylesheets/style.css')
    body
        include includes/header
        include includes/heading
        block content